<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/css.css">
        <script type="text/javascript" src="/smarteditor2/js/service/HuskyEZCreator.js" charset="utf-8"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="/js/alert.js"></script> 
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            function getComment(){
                axios({
                    method: "post",
                    url: "http://localhost:8080/community/free/getcomment",
                    data: {
                        id: form.Id.value,
                        password: form.Password.value,
                    }
                }).then((rep) => {
                    return rep.data;
                })
            }
            
        </script>

        <title>자유게시판</title>
        

        
    </head>

    <body>
        <div class="body">
            <!-- header  -->
            <%-include('header.ejs')%>
            <!-- header end -->

        <!-- content -->
        <div id="contents">
            <div class="board_wrap">
                <div class="board_title">
                    <strong>자유게시판</strong>
                </div>
                <div class="board_view_wrap" id="view" style="display: block;">
                    <div class="board_view">
                        <div class="title" id="viewtitle"><%=result.title%></div>
                        <div class="info">
                            <dl>
                                <dt>번호</dt>
                                <dd><%=result.idx%></dd>
                            </dl>
                            <dl>
                                <dt>작성자</dt>
                                <dd><%=result.id%></dd>
                            </dl>
                            <dl>
                                <dt>작성일</dt>
                                <dd><%=result.create_date%></dd>
                            </dl>
                            <dl>
                                <dt>조회</dt>
                                <dd><%=result.clicked%></dd>
                            </dl>
                        </div>
                        <div class="cont" id="viewcontent">
                            <%-result.content%>
                        </div>
                        <div class="board_btn_wrap">
                            <a href="/community/free">목록</a>
                            <% if(user==result.id){ %>
                                <a href="#" onclick="changemodify();">수정</a>
                                <a href="/community/free/delete?idx=<%=result.idx%>">삭제</a>
                            <%}%>
                        </div>
                    </div>

                    
                </div>

                <div id="modify" style="display: none">
                    <form action="/community/free/modify" method="post" id="freeWrite">
                        <input type="hidden" name="idx" id="idx" value="<%=result.idx%>">
                        <div>제목 </div><input type="text" name="title" id="title" value="<%=result.title%>" style="width:766px;"><hr>
                        <div>내용 </div><textarea name="content" id="content" rows="10" cols="100" style="width:766px; height:412px; display:none;"><%-result.content%></textarea><hr>
                        <!--textarea name="content" id="content" rows="10" cols="100" style="width:100%; height:412px; min-width:610px; display:none;"></textarea-->
                        <p>
                            <!-- <input type="button" onclick="pasteHTML();" value="본문에 내용 넣기" /> -->
                            <!-- <input type="button" onclick="showHTML();" value="본문 내용 가져오기" /> -->
                            <input type="button" onclick="submitContents(this);" value="글수정" />
                            <input type="button" onclick="cancelmodify();" value="취소" />
                            <!-- <input type="button" onclick="setDefaultFont();" value="기본 폰트 지정하기 (궁서_24)" /> -->
                        </p>
                    </form>
                    <script type="text/javascript">
                        var oEditors = [];
                        
                        var sLang = "ko_KR";	// 언어 (ko_KR/ en_US/ ja_JP/ zh_CN/ zh_TW), default = ko_KR
                        
                        // 추가 글꼴 목록
                        //var aAdditionalFontSet = [["MS UI Gothic", "MS UI Gothic"], ["Comic Sans MS", "Comic Sans MS"],["TEST","TEST"]];
                        
                        nhn.husky.EZCreator.createInIFrame({
                            oAppRef: oEditors,
                            elPlaceHolder: "content",
                            sSkinURI: "/smarteditor2/SmartEditor2Skin.html",	
                            htParams : {
                                bUseToolbar : true,				// 툴바 사용 여부 (true:사용/ false:사용하지 않음)
                                bUseVerticalResizer : true,		// 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
                                bUseModeChanger : true,			// 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
                                //bSkipXssFilter : true,		// client-side xss filter 무시 여부 (true:사용하지 않음 / 그외:사용)
                                //aAdditionalFontList : aAdditionalFontSet,		// 추가 글꼴 목록
                                fOnBeforeUnload : function(){
                                    //alert("완료!");
                                },
                                I18N_LOCALE : sLang
                            }, //boolean
                            fOnAppLoad : function(){
                                //예제 코드
                                //oEditors.getById["content"].exec("PASTE_HTML", ["로딩이 완료된 후에 본문에 삽입되는 text입니다."]);
                            },
                            fCreator: "createSEditor2"
                        });
                        
                        function pasteHTML() {
                            var sHTML = "<span style='color:#FF0000;'>이미지도 같은 방식으로 삽입합니다.<\/span>";
                            oEditors.getById["content"].exec("PASTE_HTML", [sHTML]);
                        }
                        
                        function showHTML() {
                            var sHTML = oEditors.getById["content"].getIR();
                            alert(sHTML);
                        }
                            
                        function submitContents(elClickedObj) {
                            oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);	// 에디터의 내용이 textarea에 적용됩니다.
                            
                            // 에디터의 내용에 대한 값 검증은 이곳에서 document.getElementById("content").value를 이용해서 처리하면 됩니다.
                            
                            try {
                                elClickedObj.form.submit();
                            } catch(e) {}
                        }
                        
                        
                        function setDefaultFont() {
                            var sDefaultFont = '궁서';
                            var nFontSize = 24;
                            oEditors.getById["content"].setDefaultFont(sDefaultFont, nFontSize);
                        }
                        </script>
                        <script>
                            function changemodify(){
                                $("#view").css('display', 'none');
                                $(".comment_wrap").css('display', 'none');
                                $("#modify").css('display', 'block');

                                $('.class_smarteditor2').css('height', '300px'); // 스마트 에디터 height 지정
                                $('.class_smarteditor2').attr('src',$('.class_smarteditor2').attr('src')); // 스마트 에디터 iframe 새로고칭
                            }
                            function cancelmodify(){
                                $("#view").css('display', 'block');
                                $(".comment_wrap").css('display', 'block');
                                $("#modify").css('display', 'none');
                                $('#title').val($('#viewtitle').text());
                                oEditors.getById["content"].exec("SET_IR",[$('#viewcontent').html()]);
                            }
                        </script>
                    
                </div>
                <!-- comment -->
            <div class="comment_wrap">
                <p>댓글</p>
                <div class="comment_list">
                    
                    <table>
                        
                        <colgroup>
                            <col width="100px">
                            <col width="600px">
                            <col width="200px">
                            <col width="100px">
                        </colgroup>
                        <tr>
                            <td>아이디</td>
                            <td>댓글내용</td>
                            <td>작성시간</td>
                            <td>삭제</td>
                        </tr>
                        
                    </table>
                </div>
                <div class="comment_write">

                </div>
            </div>

            <!-- comment end -->
            </div>


            


        </div>
        <!-- content end -->

        <!-- footer -->
        <%-include('footer.ejs')%>
        <!-- footer end -->

        
    </div>

    <script>
        $(".nav_menu ul").mouseover(function(){
            if($(".nav_menu > ul > li").css("display") == "none"){
                $(".nav_menu > ul > li").css("display","block");
            }
        })
        $(".nav_menu").mouseleave(function(){
            $(".nav_menu > ul > li").css("display","none");
        })
        
        
    </script>
    </body>
</html>