<!DOCTYPE html>
<html lang="ko">
    <head>
        <link rel="stylesheet" href="/css/css.css">
        <%-include('head.ejs') %>
              
        <title>자유게시판</title>
    </head>
    <body>
        <div class="bg">
            <%-include('nav.ejs') %>
        </div>
 
            <!-- contents -->
            <div id="contents">
                <div class="board_wrap">
                    <div class="board_title">
                        <strong>자유게시판</strong>
                    </div>
                    <div class="board_list_wrap">
                        <div class="board_list">
                            <div class="top">
                                <div class="num">카테고리</div>
                                <div class="title">제목</div>
                                <div class="writer">작성자</div>
                                <div class="date">작성일</div>
                                <div class="count">조회</div>
                            </div>
                            
                            <%
                            for ( let i = data.length - 1; i >= 0; i-- ){
                            %>
                                <div>
                                    <div class="num">자유</div>
                                    <div class="title"><a href="/community/read?idx=<%=data[i].idx%>&category=<%=data[i].category%>"><%=data[i].title%></a></div>
                                    <div class="writer"><%=data[i].id%></div>
                                    <div class="date"><%=data[i].create_date%></div>
                                    <div class="count"><%=data[i].clicked%></div>                   
                                </div>
                                
                            <%
                                }
                            %>

                        </div>
                        <div class="board_page">

                        </div>
                        
                        <div class="board_btn_wrap">
                            <% if(isLogin){ %>
                                <a href="/community/free/write">글쓰기</a>
                            <%}%>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- contents end -->

            <!-- footer -->

                <%-include('footer.ejs')%>
            <!-- footer end -->     

         <script src="/js/nav.js"></script>
    </body>
</html>