<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/css.css">
        <script src="/js/alert.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        
        <title>자유게시판</title>
    </head>
    <body>
        <div class="body">
            <!-- header  -->
            <%-include('header.ejs')%>
            <!-- header end -->

            <!-- contents -->
            <div id="contents">
                <div class="board_wrap">
                    <div class="board_title">
                        <strong>자유게시판</strong>
                    </div>
                    <div class="board_list_wrap">
                        <div class="board_list">
                            <div class="top">
                                <div class="num">번호</div>
                                <div class="title">제목</div>
                                <div class="writer">작성자</div>
                                <div class="date">작성일</div>
                                <div class="count">조회</div>
                            </div>
                            
                            <%
                            for ( let i = data.length - 1; i >= 0; i-- ){
                            %>
                                <div>
                                    <div class="num"><%=data[i].idx%></div>
                                    <div class="title"><a href="/community/free/read?idx=<%=data[i].idx%>"><%=data[i].title%></a></div>
                                    <div class="writer"><%=data[i].id%></div>
                                    <div class="date"><%=data[i].create_date%></div>
                                    <div class="count"><%=data[i].clicked%></div>                   
                                </div>
                                
                            <%
                                }
                            %>

                        </div>
                        <div class="board_page">

                        </div>
                        
                        <div id="abc" class="board_btn_wrap">
                            
                        </div>
                        <script>
                            let writeButton = "<form action='/community/free/write' method='GET'><button>글쓰기</button></form>";
                            let isLogin = "<%= isLogin %>";
                            if(isLogin == 'true'){
                                $("#abc").append(writeButton);
                            }
                        </script>
                    </div>
                </div>
            </div>

            <!-- footer -->
            <%-include('footer.ejs')%>
            <!-- footer end -->
        </div>

        <script>
            $(".nav_menu ul").mouseover(function(){
                if($(".nav_menu > ul > li").css("display") == "none"){
                    $(".nav_menu > ul > li").css("display","block");
                }
            })
            $(".nav_menu").mouseleave(function(){
                $(".nav_menu > ul > li").css("display","none");
            })
            
            
        </script>
    </body>
</html>