<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>      
        <link rel="stylesheet" href="/css/profile.css">
        <script>
            function editProfile() {
  	            let form = document.getElementById("form_profile");

                axios({
                    method: "patch",
                    url: "/user/edit",
                    data: {
                        id: form.id.value,
                        password: form.password.value,
                        name: form.name.value,                        
                        email: form.email.value,
                        profile: form.picture.value
                    }
                }).then((response) => {
                    return response.data;
                }).then((data) => {
                    // data: "회원정보가 수정되었습니다"
                    alert(data);
                })
            }

            function deleteProfile() {
                
                axios({
                    method: "delete",
                    url: "/user/delete",
                    data: {
                        id: '<%=data.id%>'
                    }
                }).then((response) => {
                    return response.data;
                }).then((data) => {
                  // data: "회원 탈퇴되었습니다."
                    alert(data);
                  // 로그인 화면으로 돌아간다.
                    window.location.href = "/user/login";
                })
          }
        </script>

    </head>
    <body>
        <a type="" href="/">MAIN</a>
        <h1>YOUR PROFILE</h1>

        <form id ="form_profile">
            ID : <input type="text" name="id" value="<%=data.id%>" readonly><br>
            <!-- readonly: input의 입력필드가 읽기 전용임을 명시한다.  -->
            NAME : <input type="text" name="name" value="<%=data.name%>" required> <br>
            PASSWORD : <input type="password" name="password" value="<%=data.password%>" required> <br> 
            EMAIL : <input type="email" name="email" value="<%=data.email%>" required> <br>
            <br>
            <div id="characters">
                    <img src="/img/img1.png" style="width: 100" name="img1">
                    <img src="/img/img2.png" style="width: 100" name="img2">
                    <img src="/img/img3.png" style="width: 100" name="img3">
                    <img src="/img/img4.png" style="width: 100" name="img4">
                    <img src="/img/img5.png" style="width: 100" name="img5">
                    <img src="/img/img6.png" style="width: 100" name="img6">
            </div>
            <input type="hidden" name="picture" value="<%=data.profile%>">
            <button id="modify" type="button" onclick="editProfile();">수정</button>
            <button id="delete" type="button" onclick="deleteProfile();">탈퇴</button>
        </form>

        <script>
            window.onload = function() {
                console.log("<%=data.profile%>");
                let img_number = "<%=data.profile%>".slice(3,4);
                console.log(img_number);
                let profiles = document.querySelectorAll("#characters img");
                console.log(profiles);
                let profile_selected = profiles[Number(img_number)-1]
                console.log(profile_selected);
                $(profile_selected).css("border", "2px solid white");

            }
            $("img").on("click", function( obj ) {
                let form = document.getElementById("form_profile");
                let target = obj.currentTarget;
                let brothers = $(target).siblings();

                form.picture.value = target['name'];

                console.log(target);
                console.log(brothers);

                $(target).css("border", "2px solid white");
                $(brothers).css("border", "none");
            });
        </script>

    </body>
</html>

