<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include('head.ejs')%>
    <link rel="stylesheet" href="/css/css.css">
    <style>
        .bg {
            background-image: url("/img/nav.jpg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 80%; height: 700px;
            margin: auto;
        }       
    </style>
</head>
<body>
    <div class="bg">
        <%-include('nav.ejs') %>
    </div>
    <!-- contents -->
    <div id="contents">
        <div class="board_wrap">
            <div class="board_title">
                <strong>응답하라 1995 랭킹 TOP 5</strong>
            </div>
            <div class="board_list_wrap">
                <div class="board_list">
                    <div class="top_ranking">
                        <div class="ranking">순위</div>
                        <div class="profile">캐릭터</div>
                        <div class="user">아이디</div>
                        <div class="score">점수</div>
                    </div>
                    
                            <%
                                for ( let i = 0; i < data.length; i++ ){
                            %>
                                <div class="cont_ranking">
                                    <div class="ranking"><%=i+1%>위</div>
                                    <div class="profile"><img src="/img/<%=data[i].profile%>.png"></div>
                                    <div class="user"><%=data[i].id%></div>
                                    <div class="score"><%=data[i].score%>점</div>
                                </div>
                            <%
                                }
                            %>
                </div>
            </div>
        </div>
    </div>
    <%-include('footer.ejs')%>
    <script src="/js/nav.js"></script>
</body>
</html>