<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include('head.ejs')%>
</head>
<body>
    <%-inclued('nav.ejs')%>
    
    <!-- contents -->
    <div id="contents">
        <div class="rank_bg">
            <div class="rank">
                <div class="ranking">순위</div>
                <div class="profile">캐릭터</div>
                <div class="id">아이디</div>
                <div class="score">점수</div>
            </div>
            
            
            <!-- for ( let i = data.length - 1; i >= 0; i-- ){
            
                <div>
                    <div class="ranking"><%=data[i].idx%></div>
                    <div class="profile"><%=data[i].title%></a></div>
                    <div class="id"><%=data[i].id%></div>
                    <div class="score"><%=data[i].create_date%></div>                   
                </div>
                
             -->

        </div>
    </div>
    
    <%-include('footer.ejs')%>
</body>
</html>